body{
    overflow-x:hidden;
}

a{
    text-decoration: none;
    color: #898980;
}

h1{
    font-size: 50px;
}
a:hover{
    color:#A9B2AC
}

img{
    width: 300px;
    height: 400px;
}

.title{
    text-align: center;
    padding: 7% 15%;
}

.about{
    padding: 7% 15%;
    text-align: center;
    background-color: #C5DAC1;
}

.homework{
    padding: 7% 15%;
    text-align: center;
}

.homework-list{
    text-align: center;
}

.hw-list{
    padding:2%;
}

.projects{
    padding: 7% 15%;
    text-align: center;
    background-color: #C5DAC1;
}

.projects-list{
    text-align: center;
}


