body {
    background-color: lightblue;
    margin: 0;
    padding: 0;
}

h1,
p {
    font-family: Fredoka, sans-serif;
}

.top {
    text-align: center;
    text-shadow: 2px 2px yellow;
    font-size: 30pt;
    margin: 2% 0;
}

.middle {
    text-align: center;
    margin-top: 10%;
    font-size: 20pt;
}

.luck {
    text-decoration: underline;
    font-weight: bold;
}

.bottom {
    text-align: center;
    margin-top: 10%;
    font-size: 15pt;
}
